  h1 {
      font-size: 50px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #ED7BAB;
      color: white;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: -10px;
      margin-bottom: -10px;
      text-shadow: 2px 2px lightgray;
  }

  h2 {
      font-size: 40px;
      font-family: Georgia;
      text-align: center;
      color: black;
      text-shadow: 2px 2px 4px rgba(255, 64, 129, 0.5);
      margin-top: 50px;
  }

  p {
      font-size: 18px;
      font-family: Tahoma;
      text-align: justify;
      text-shadow: 2px 2px lightgray;
      line-height: 30px;
      
  }

  body{
    background-color:#F5D3DD;
  }


.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}


.image-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 410px;

}

.links a {
    text-decoration: none;
    color: black;
    text-shadow: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #eee;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.links {
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

.links {
    margin: 0 150px;
}

.interest{
        margin-right: 150px;
    }

.hobby{
    margin-left:70px;
}

.interest{
    margin-right:350px;
}

.pictures {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.pictures a {
    width: 450px; 
    height: 350px; 
    display: flex;
    margin-right: 25px;
}

.pictures a img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px;
}

.tops {      
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    color: white;
    text-shadow: none;
    padding: 10px 13px;
    border-radius: 40px;
    background-color: #ED7BAB;
    border-radius: 5px;
    float: right;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 5px;
}

