body {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    background-image: url('landing.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
    padding: 10px 20px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.image-box {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 80%;
}

.container video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 1280px; 
    height: auto; 
}

